@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

@font-face {

  font-family: "Open Sans";
  
  src: url(/fonts/OpenSans-Bold.ttf);
  
  font-style: normal;
  
  }
  
  @font-face {
  
  font-family: "Open Sans";
  
  src: url(/fonts/OpenSans-Regular.ttf);
  
  font-style: normal;
  
  }
  
  @font-face {
  
  font-family: "Open Sans";
  
  src: url(/fonts/OpenSans-SemiBold.ttf);
  
  font-style: normal;
  
  }


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #11141E;
  font-family: 'Open Sans';
}


@tailwind base;

@tailwind components;

@tailwind utilities;

